<div>
    <a ui-sref="categories">Return to Categories list</a>
</div>
<div>
    <a href="" ng-click="itemCtrl.getItems()">yo</a>
    {{itemCtrl.allShortNames}}
    <!-- <ul>
        <li ng-repeat="item in itemCtrl.items">
            <ul>[{{item.short_name}}] {{item.name}}
                <li>Description: {{item.description}}</li>
                <li>Price for small: {{item.price_small}} </li>
                <li>Price for large: {{item.price_large}} </li>
                <li>Small portion name: {{item.small_portion_name}} </li>
                <li>Large Portion Name: {{item.large_portion_name}} </li>
            </ul>
        </li>
    </ul>  -->
</div>